<!doctype>
<html>
  <head>
    <title>objectos doj&ocirc;: cultura de aprendizado cont&iacute;nuo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="img/favicon.ico" type="../../../image/vnd.microsoft.icon" rel="shortcut icon">
    <link href="img/favicon.ico" type="../../../image/vnd.microsoft.icon" rel="icon">
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">
    <link rel="stylesheet/less" type="text/css" href="../../../style/sheet.less">
    <script src="../../../js/less-1.1.3.min.js" type="text/javascript"></script>
    <script src="http://use.typekit.com/tbr5rbc.js" type="text/javascript"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div id="hd" class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3>
            <a href="http://dojo.objectos.com.br" class="logo">objectos doj&ocirc;</a>
          </h3>
          <ul class="nav">
            <li>
              <a href="#aprendizes">Aprendizes</a>
            </li>
            <li>
              <a href="#git">Git</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="bd" class="container">
      {{ content }}
    <div id="ft" class="container">
    </div>
  </body>
</html>
